body {
  font-family: 'Source Sans Pro', sans-serif;
  margin:0;
  padding:0;
}
h2 {
  background:#eee;
  font-weight:300;
  padding:12px 15px;
}
h2:first-child {
  margin-top:0;
}
h2 small {
  font-size:18px;
  border-left:solid 1px #ccc;
  padding-left:12px;
  display:inline-block;
  margin-left:10px;
}
.video-list,
.display-list {
  display:block;
  text-align:center;
}
video {
  background:#444;
  width:33%;
  display:inline-block;
  vertical-align:top;
}
.display-list {
  margin:15px 8px;
  border:solid 1px #ccc;
  border-radius:5px;
  padding:15px 12px;
}
.display-list input {
  display:block;
  width:75%;
  margin:0 auto;
  border:0;
  border-bottom:solid 2px #ccc;
  padding:2px 5px;
  font-size:18px;
  text-align:center;
  margin-bottom:15px;
  outline:0;
}
#peerList {
  list-style-type:none;
  border:solid 1px #ccc;
  border-radius:5px;
  padding:0;
  margin:12px 15px;
}
#peerList li {
  display:block;
  border-top:solid 1px #ccc;
  padding:15px 12px;

}
#peerList li:first-child {
  border:0;
}
#peerList li:hover {
  background:#f8f8f8;
}
#peerList li a {
  text-decoration:none;
  color:#444;
}
#peerList li a span,
#peerList li a em {
  display:block;
}
#peerList li a span:first-child {
  font-weight:bold;
  font-size:18px;
}
#peerList li a span:last-child {
  margin:5px 0;
  border:solid 1px #ccc;
  border-radius:5px;
  background:#fff;
  padding:2px 5px;
}
.advertDisplay span {
  font-weight:bold;
}